/* Global Config */
:root {
  --cadet-grey: hsla(205, 19%, 76%, 1);
  --main-black: rgb(49, 53, 56);
}

@font-face {
  font-family: Ubuntu;
  src: url(../static/font/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Opensans;
  src: url(../static/font/OpenSans-Regular.ttf);
}

body {
  font-family: Ubuntu;
}

.blue-button {
  background: transparent;
  color: blue;
  border: 0.1em solid blue;
  transition: all 0.5s linear;
  min-width: 5em;
  letter-spacing: 0.12em;
}

.blue-button:hover {
  background: rgba(0, 0, 255, 0.493);
  color: white;
}

/* End of Global Config */

/* Header */
#header {
  background-color: var(--main-black);
}
#header row {
  min-height: 10vh;
}
/* End of Header */

/* Table */
#table {
  background: var(--cadet-grey);
  min-height: 90vh;
  font-family: Opensans;
}

.blue-button.link-active {
  background-color: blue;
  color: white;
}

.btn-container {
  text-transform: uppercase;
}

.table {
  text-align: center;
}
/* End of Table */
